@import "~bulma";

html {
  background-color: #1B2F33;
}
body {
  color: #C0C5C1;
  font-family: $courier;
  // background-image: url(bg.png);
  // background-size:contain;
  // background-repeat: no-repeat;
  // background-position: center center;
  font-size: 18px;
  font-weight: bold;
}
header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3vh auto 3vh;
}

h1 {
  font-family: $courier;
  font-size: 11vw;
  font-weight: bold;
  letter-spacing: 0.1vw;
  @include respond-to(fablet) {
    font-size: 2.618rem;
    letter-spacing: 2px;
  }
}
h2 {
  font-family: $courier;
  font-size: 7vw;
  font-weight: bold;
  @include respond-to(fablet) {
    font-size: 1.618rem;
  }
} 
a {
  color: #BBBE64;
}
.profile {
  border-radius: 50%;
  height: 20vh;
  margin-top: 4vh;
  overflow: hidden;
  position: relative;
  width: 20vh;
}
.profile__image {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.canvas-bg {
  left: 0;
  position: fixed;
  top: 0;
  z-index: -1;
}
.description {
  margin: 5vh auto;
  text-align: center;
}
.terminal {
  margin: 5vh auto;
  display: flex;
  justify-content: center;
}
.links {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 5vh auto;
  max-width: 550px;
  width: 100%;
}
.link_text {
  display: inline-block;
  text-indent: -10000px;
}
.icon {
  font-size: 28px;
}
pre {
  line-height: 17.5px;
  display: block;
  padding: 15px;
  background-color: transparent;
  color: inherit;
}