
@import "~bulma";

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5vh auto 10vh;
}

h1 {
  font-family: $roboto;
  font-weight: bold;
  font-size: 38px;
  letter-spacing: 2px;
}
.profile {
  width: 20vh;
  height: 20vh;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  margin-top: 5vh;
}
.profile__image {
  width:100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.canvas-bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.description {
  text-align: center;
  margin: 10vh auto;
}
.links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 550px;
  margin: 10vh auto;
}
.link_text {
  text-indent: -10000px;
  display: inline-block;
}
.icon {
  font-size: 28px;
}