// Fonts
$roboto: "Roboto Condensed", sans-serif;
$courier: "Courier New", monospace;
$quicksand: "Quicksand", sans-serif;

// Colours
$red: #fd461e;
$white: #fff;

$primary: $red;
$primary-invert: $white;
